.cover__overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgb(42, 44, 47, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: all .8s;
}

.cover__overlay:hover {
  background-color: rgb(42, 44, 47, .8);
}
